@import '../../styles/extends';

.ExchangeRate {
  @extend %block-style;

  width: 300px;
  padding: 20px;
 
  .Title {
    @extend %title-style;
  }

  .Display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    color:rgb(151, 165, 165)
  }
}
