@import '../../styles/variables';
@import '../../styles/extends';
@import '../../styles/mixins';

.Converter {
  @extend %block-style;

  width: 500px;
  padding: 30px;
  align-items: center;
  
  .Title {
    @extend %title-style;
  }
  
  .Display {
    position: relative;
  }

  .ConverterIcon {
    @include icon($icon-size);
    @include centering($icon-size);

    position: absolute;
  }

  .CurrencyContainer {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
}
