.Converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
  padding: 30px;
  background-color: #D9F8F4;
  border-radius: 30px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

  .Title {
    
  }
  
  .Display {
    position: relative;
  }

  .ConverterIcon {
    position: absolute;
    left: calc(50% - 25px / 2);
    top: calc(50% - 25px / 2);
    width: 25px;
    height: 25px;
  }

  .CurrencyContainer {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
}





